<div class="relative inline-block">
  <button #triggerButton (click)="togglePopup($event)" ...>
    <ng-content select="[svg-icon]"></ng-content>
  </button>

  @if (isOpen()) {
    <div class="fixed inset-0 bg-black/10 z-40" (click)="closePopup()"></div>

    <div
      #popupModal
      class="fixed z-50 bg-white rounded-xl shadow-2xl"
      [style.top.px]="popupTop"
      [style.left.px]="popupLeft"
      (click)="$event.stopPropagation()"
    >
      <div class="p-1">
        <ng-content></ng-content>
      </div>
    </div>
  }
</div>
