<div class="relative inline-block" [class.disabled]="isDisabled()">
  <button
    #trigger
    (click)="togglePopup()"
    class="relative p-2 rounded-full hover:bg-gray-100 transition-colors"
  >
    <ng-content select="[svg-icon]"></ng-content>

    @if (badgeDisplay()) {
      <span
        class="absolute -top-1 -right-1 flex h-4 w-4 items-center justify-center rounded-full bg-red-500 text-[10px] font-bold text-white"
      >
        {{ badgeDisplay() }}
      </span>
    }
  </button>

  @if (isOpen()) {
    <div class="fixed inset-0 bg-black/10 z-40" (click)="togglePopup()"></div>

    <div
      #content
      class="fixed z-[100] bg-white rounded-lg shadow-xl border border-gray-200 p-3 min-w-[150px]"
      [style.top.px]="coords().top"
      [style.left.px]="coords().left"
      (click)="$event.stopPropagation()"
    >
      <ng-content></ng-content>
    </div>
  }
</div>
