<div
  class="flex items-center justify-between w-full max-w-[300px] p-3 bg-white border border-gray-200 rounded-xl shadow-sm"
>
  <div class="flex items-center gap-4">
    <div class="grid grid-cols-2 gap-1 cursor-grab">
      @for (i of [1, 2, 3, 4, 5, 6]; track i) {
        <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
      }
    </div>

    <span class="text-sm font-medium text-gray-700 selection:bg-transparent">
      {{ label() }}
    </span>
  </div>

  <label class="relative inline-flex items-center cursor-pointer">
    <input type="checkbox" class="sr-only peer" [checked]="checked()" (change)="toggle()" />

    <div
      class="w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-0.5 after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-500"
    ></div>
  </label>
</div>
