<div class="relative inline-block">
  <button
    (click)="toggle()"
    [disabled]="disabled()"
    class="border px-4 py-2.5 border-sky-300 rounded-xl bg-white text-sky-400 font-medium text-sm md:text-base transition-all duration-200 ease-in-out hover:bg-sky-50 hover:border-sky-400 hover:shadow-sm active:scale-95 min-w-40 disabled:border-gray-200 disabled:text-gray-300 disabled:bg-gray-50 disabled:cursor-not-allowed"
    [class.z-50]="isOpen() && mode() === 'popup'"
  >
    <div class="flex items-center gap-4">
      <ng-content select="[button-icon]"></ng-content>
      <div>{{ label() }}</div>
    </div>
  </button>

  @if (isOpen()) {
    @if (isOpen() && mode() === 'modal') {
      <div
        class="fixed inset-0 bg-10/20 z-[45] transition-opacity animate-in fade-in"
        (click)="close()"
      ></div>
    }
    <div
      (click)="$event.stopPropagation()"
      [class]="
        mode() === 'modal'
          ? 'fixed inset-0 flex items-center justify-center z-[50] p-4 pointer-events-none'
          : 'absolute -left-80 top-0 -translate-y-[calc(100%+8px)] w-60 md:w-70 z-[50] origin-bottom-left'
      "
    >
      <div
        class="bg-white rounded-lg shadow-2xl overflow-hidden border border-gray-200 animate-in fade-in zoom-in duration-200 pointer-events-auto"
        [class.w-full]="mode() === 'modal'"
        [class.max-w-2xl]="mode() === 'modal'"
      >
        @if (mode() === 'modal') {
          <div class="flex justify-between items-center p-4 border-b">
            <span class="font-bold text-gray-700">{{ label() }}</span>
            <button (click)="close()" class="text-gray-400 hover:text-gray-600">✕</button>
          </div>
        }

        <div class="py-2">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  }
</div>
