/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

/* Global reusable container */
@layer components {
  .app-container {
    @apply bg-white
      rounded-lg
      shadow-sm
      p-4
      sm:p-6
      md:p-8
      mx-auto
      my-4
      w-full;
  }
  .page-container {
    @apply min-h-screen w-full bg-gray-300 text-slate-900;
  }
  .component-stack {
    @apply flex flex-col items-center;
    /* Responsive Horizontal Padding */
    @apply px-4 sm:px-8 md:px-16 lg:px-24;
    /* Responsive Vertical Spacing between components */
    @apply py-8 md:py-12 space-y-8 md:space-y-12;
  }

  /* Standardized constraints for the components themselves */
  .content-width {
    @apply w-full max-w-7xl mx-auto;
  }
  .disabled {
    @apply opacity-50 cursor-not-allowed border-gray-200 text-gray-400 bg-gray-50 pointer-events-none;
  }
}
