<div class="">
  <div class="app-container flex flex-wrap items-end gap-4 w-full p-4">
    <!-- ======Travel Date range selection input ========-->
    <app-input-selector
      label="Travel Date Range"
      [options]="availableDateRanges"
    ></app-input-selector>

    <!-- ========== Travel Date FROM and TO  =========== -->
    <app-calender
      label="Travel Date To"
      placeholder="DD/MM/YYYY"
      [selectedDate]="travelDateTo()"
      (dateSelected)="onDateToSelected($event)"
    ></app-calender>
    <app-calender
      label="Travel Date To"
      placeholder="DD/MM/YYYY"
      [selectedDate]="travelDateTo()"
      (dateSelected)="onDateToSelected($event)"
    ></app-calender>

    <!-- ========== City Select =========== -->
    <app-single-select
      label="City"
      [items]="options"
      (selectChange)="onSelect($event)"
    ></app-single-select>

    <!-- ========== Supplier Status =========== -->
    <app-select-menu
      label="Supplier Status"
      [options]="roleOptions()"
      placeholder="Choose an Action"
      (onSelection)="handleData($event)"
    >
    </app-select-menu>

    <!-- ========== Yacht Type =========== -->
    <app-select-menu
      label="Yacht Type"
      [options]="roleOptions()"
      placeholder="Choose an Action"
      (onSelection)="handleData($event)"
    >
    </app-select-menu>

    <!-- ========== Booking Reference =========== -->
    <app-input-core label="Booking Reference Number"></app-input-core>

    <!-- ========== Advanced Search Portion =========== -->
    @if (advanceButtonOpen()) {
      <button (click)="open()" class="pb-3 text-md text-blue-600 text-">Advance Access</button>
    }

    <app-toggle-component-container
      [isOpen]="isContainerOpen()"
      (closed)="close()"
      name="Advance Accress"
    >
      <div>
        <app-multi-select
          id="fruits"
          label="Category"
          [options]="fruitOptions"
          placeholder="Choose your favorite Category..."
          (done)="onFruitSelection($event)"
        />
      </div>

      <div>
        <app-multi-select
          id="colors"
          label="Option Name"
          [options]="colorOptions"
          placeholder="Choose your Option Name ..."
          (done)="onColorSelection($event)"
        />
      </div>

      <div>
        <app-multi-select
          id="countries"
          label="Supplier"
          [options]="countryOptions"
          placeholder="Choose Supplier to visit..."
          (done)="onCountrySelection($event)"
        />
      </div>

      <div>
        <app-multi-select
          id="provider"
          label="Provider"
          [options]="countryOptions"
          placeholder="Choose Provider to visit..."
          (done)="onCountrySelection($event)"
        />
      </div>
    </app-toggle-component-container>
  </div>

  <!-- ================  Date Selections  ====================== -->
   <div class="app-container">
    <app-date-slider></app-date-slider>
   </div>

  <!-- =============== Table Portions  ======================== -->
  <div class="app-container">
    <div class="flex justify-between">
      <!-- table status button -->
      <div class="flex gap-3 justify-start">
        @for (status of statuses(); track status.value) {
          <app-status-button
            [data]="status"
            [active]="activeStatus() === status.value"
            [color]="
              status.value === 'approved' ? 'sky' : status.value === 'rejected' ? 'sky' : 'sky'
            "
            [loading]="isLoading() && activeStatus() === status.value"
            size="md"
            (clicked)="onStatusClick($event)"
          />
        }
      </div>
      <!-- table column  customization button -->
      <div>
        <app-settings-button
          label="Column Selection"
          buttonLabel="Default"
          (onButtonClick)="resetToDefault()"
          (onIconClick)="openTableRowModificationContainerToggle($event)"
        >
          ></app-settings-button
        >
      </div>
    </div>
    <!-- table row modification toggle buttons -->
    <div class="mt-5">
      <app-toggle-component-container
        [isOpen]="isTableModificationContainerOpen()"
        [closeButton]="false"
      >
        <div class="grid md:grid-cols-5 sm:grid-cols-2 sm:gap-x-20 md:gap-x-1.5 md:gap-y-1.5">
          @for (singleColumn of tableColumns; track singleColumn.key) {
            <app-toggle-button
              [label]="singleColumn.label"
              [(checked)]="columnVisibility()[singleColumn.key]"
              (filterChanged)="onFilterUpdate(singleColumn.key, $event)"
            ></app-toggle-button>
          }
        </div>
      </app-toggle-component-container>
    </div>
    <div>
      <!-- <app-table [columns]="tableColumns" [columnVisibility]="columnVisibility()"></app-table> -->
      <app-table
        #table
        [columns]="tableColumns"
        [columnVisibility]="columnVisibility()"
        (selectionChange)="onSelectionChange($event)"
      />
    </div>
    <!-- ================= Table Final Updating Portion=============== -->

    <div class="mt-5">
      <div class="flex justify-between">
        <div>
          <div class="mb-4 flex flex-col gap-3 items-center">
            <span class="text-sm text-gray-600">
              Selected: {{ table.getSelectedCount() }} 
            </span>
            <button
              (click)="table.toggleSelectAll()"
              class=" text-md text-blue-500 rounded transition-colors"
            >
              {{ table.isAllSelected() ? 'Deselect All' : 'Select All' }}
            </button>

            <!-- <button
          (click)="table.deselectAll()"
          class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600 transition-colors"
          [disabled]="table.getSelectedCount() === 0"
        >
          Clear Selection
        </button> -->
          </div>
        </div>

        <div class="flex gap-2">
          <app-button-with-popup label="Show Reminders">
            <div class="flex flex-col mx-5">
              <button
                class="flex items-center justify-between p-4 hover:bg-gray-50 transition-colors group"
              >
                <div class="flex items-center gap-3">
                  <i class="text-xl text-gray-700">💬</i>
                  <span class="font-medium text-gray-800">WhatsApp Reminder</span>
                </div>
                <span class="text-gray-400 group-hover:translate-x-1 transition-transform">❯</span>
              </button>
              <button
                class="flex items-center justify-between p-4 hover:bg-gray-50 transition-colors group text-left"
              >
                <div class="flex items-center gap-3">
                  <i class="text-xl text-gray-700">🖨️</i>
                  <span class="font-medium text-gray-800">Print Job</span>
                </div>
                <span class="text-gray-400 group-hover:translate-x-1 transition-transform">❯</span>
              </button>
            </div>
          </app-button-with-popup>
          <app-button-with-popup label="Update Supplier">
            <div class="flex flex-col divide-y divide-gray-100">
              <button
                class="flex items-center justify-between p-4 hover:bg-gray-50 transition-colors group"
              >
                <div class="flex items-center gap-3">
                  <i class="text-xl text-gray-700">💬</i>
                  <span class="font-medium text-gray-800">WhatsApp Reminder</span>
                </div>
                <span class="text-gray-400 group-hover:translate-x-1 transition-transform">❯</span>
              </button>
              <button
                class="flex items-center justify-between p-4 hover:bg-gray-50 transition-colors group text-left"
              >
                <div class="flex items-center gap-3">
                  <i class="text-xl text-gray-700">🖨️</i>
                  <span class="font-medium text-gray-800">Print Job</span>
                </div>
                <span class="text-gray-400 group-hover:translate-x-1 transition-transform">❯</span>
              </button>
            </div>
          </app-button-with-popup>
          <app-button-with-popup label="Accept">
            <div class="flex flex-col divide-y divide-gray-100">
              <button
                class="flex items-center justify-between p-4 hover:bg-gray-50 transition-colors group"
              >
                <div class="flex items-center gap-3">
                  <i class="text-xl text-gray-700">💬</i>
                  <span class="font-medium text-gray-800">WhatsApp Reminder</span>
                </div>
                <span class="text-gray-400 group-hover:translate-x-1 transition-transform">❯</span>
              </button>
              <button
                class="flex items-center justify-between p-4 hover:bg-gray-50 transition-colors group text-left"
              >
                <div class="flex items-center gap-3">
                  <i class="text-xl text-gray-700">🖨️</i>
                  <span class="font-medium text-gray-800">Print Job</span>
                </div>
                <span class="text-gray-400 group-hover:translate-x-1 transition-transform">❯</span>
              </button>
            </div>
          </app-button-with-popup>
          <app-button-with-popup label="Bookings">
            <div class="flex flex-col divide-y divide-gray-100">
              <button
                class="flex items-center justify-between p-4 hover:bg-gray-50 transition-colors group"
              >
                <div class="flex items-center gap-3">
                  <i class="text-xl text-gray-700">💬</i>
                  <span class="font-medium text-gray-800">WhatsApp Reminder</span>
                </div>
                <span class="text-gray-400 group-hover:translate-x-1 transition-transform">❯</span>
              </button>
              <button
                class="flex items-center justify-between p-4 hover:bg-gray-50 transition-colors group text-left"
              >
                <div class="flex items-center gap-3">
                  <i class="text-xl text-gray-700">🖨️</i>
                  <span class="font-medium text-gray-800">Print Job</span>
                </div>
                <span class="text-gray-400 group-hover:translate-x-1 transition-transform">❯</span>
              </button>
            </div>
          </app-button-with-popup>
        </div>
      </div>
    </div>
  </div>
</div>
